{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set link %}{% endset %}
    {% set icon %}
        <span class="sf-icon">
            {{ include('@Security/Collector/icon.svg') }}
        </span>
        <span class="sf-toolbar-value sf-toolbar-info-piece-additional">Roles</span>
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig') }}
{% endblock %}

{% block menu %}
    <span class="label">
        <span class="icon">
            {{ include('@Security/Collector/icon.svg') }}
        </span>
        <strong>Roles</strong>
    </span>
{% endblock %}

{% block panel %}
    <h2>Roles defined</h2>
    <table>
        <thead>
            <tr>
                <th scope="col" class="key">Name</th>
                <th scope="col" class="key">Children</th>
            </tr>
        </thead>
        <tbody>
            {% for name, children in collector.sorted %}
                <tr>
                    <td class="font-normal text-small text-bold" id="#role-{{ name }}">{{ name }}</td>
                    <td class="font-normal text-small">{{ include('PandawanTechnologyRoleVizBundle:Profiler:_role.html.twig', {'exclude_self': true}) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
